/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:300,400");
$base-font: "Montserrat", "sans-serif", "sans-serif";
$header-font: "Libre Baskerville", "serif", "sans-serif";


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #A31621;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


// customer desk colors
$desk-red: #A31621;
$desk-white: #FCF7F8;
$desk-gray: #CED3DC;
$desk-darkblue: #4E8098;
$desk-blue: #90C2E7;

