.newspacewrapper {
  padding: 20px;
  color: white;
  z-index: 100;
  padding: 20px;
  background: rgb(34,34,34);
  background: rgba(34,34,34,0.75);
  box-shadow: 1px 1px 18px 0px rgba(50, 50, 50, 0.75);

  .bootstrap-datetimepicker-widget {
    color: black;
  }

  p {
    font-weight: 300;
  }
}
