<div class="banner"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          <h1>Title Here</h1>
          <h4> Address Here</h4>

          <h3> A Bit About This Space....</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis libero mollis, fringilla felis in, vehicula dolor. Nulla ultrices mi eget neque hendrerit consectetur. Nulla augue augue, posuere et consequat et, ultrices egestas mauris. Donec gravida lacus lorem, quis scelerisque justo dapibus sit amet. In et volutpat est. In fermentum nulla justo, id pulvinar diam luctus dapibus. Etiam risus dui, sagittis at diam in, vulputate porttitor neque. Duis malesuada blandit orci. Maecenas tincidunt metus vel consequat volutpat. Mauris ullamcorper dui nisl, ut varius erat malesuada id. Sed bibendum libero sit amet luctus blandit. Quisque accumsan dapibus tortor, nec sollicitudin dui accumsan in. Nam vestibulum ultrices condimentum.</p>
        </div>
      </div>

      <div class="container-fluid" id="wrap">

      <ol class="list list-inline">
        <li><i class="fa fa-keyboard-o fa-fw" aria-hidden="true"></i>hotdesk</li>
          <li><i class="fa fa-coffee fa-fw" aria-hidden="true"></i> amenities</li>
            <li><i class="fa fa-usd fa-fw" aria-hidden="true"></i> Price</li>
            </ol>
      </div>



              <div class="row">
                <div class="image_flex">
                  <div class="banner-medium"></div>
                  <div class="banner-medium"></div>
                </div>

              </div>

              <div class="row">
                <div class="image_flex">
                  <div class="banner-small"></div>
                  <div class="banner-small"></div>
                  <div class="banner-small"></div>
                  <div class="banner-small"></div>
                </div>
              </div>

              <div class="row text-center">
                <div class="col-xs-6">
                  <h3>Your Host</h3>
                  <img src="https://unsplash.it/400/300" alt="user" class="avatar-bordered">
                  <br>
                  John Doe
                  <br>
                  Apple Inc
                  <br>
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>

                </div>
                <div class="col-xs-6">
                  <button class="accordion">About *Company Name*</button>
                  <div class="panel">
                    <p>Lorem ipsum...</p>
                  </div>

                  <button class="accordion">What's available?</button>
                  <div class="panel">
                    <p>Lorem ipsum...</p>
                  </div>

                  <button class="accordion">Terms & Conditions</button>
                  <div class="panel">
                    <p>Lorem ipsum...</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xs-4">
              Form here
            </div>
          </div>
        </div>
