.bgtop{
  background-size: cover;
  background-position: left;
  height: 300px;
  width: 100%;
  filter: blur(0.5px);
}
.newswrap {
  margin-top: -110px;
}


.newtable {

  margin-top: 200px;
  margin-bottom: 200px;
}
