.bgtop{
  background-size: cover;
  background-position: left;
  height: 300px;
  width: 100%;
  filter: blur(0.5px);
}

.newswrap {
  margin-top: -110px;
}

.newtable {
  margin-top: 200px;
  margin-bottom: 200px;
}

.checkbox-amenity {
  padding: 20px;
  background-color: #B9B8B9;
  display: block;
  width: 100%;
  opacity: 0.2;
  border-radius: 3px;

  .fa {
    padding-left: 10px;
    font-size: 20px;
  }

  &:hover {
    opacity: 0.5;
  }

  &.active {
    background-color: $green;
    font-weight: bold;
    color: white;
    opacity: 1;
  }

  label {
    padding-left: 0;
  }
}
