<div class="masterwrapper">
  <div class="bookendleft">
    <ul class="list-inline listul">
      <li><i class="fa fa-linkedin"></i></li>
      <li><i class="fa fa-instagram"></i></li>
      <li><i class="fa fa-facebook"></i></li>
      <li><i class="fa fa-youtube"></i></li>
    </ul>
  </div>

  <div class="item1">
    <ul class="list-footer-links">
      <li><strong>DeskJoy, Ltd</strong></li>
      <li> <a href="#"> Become a Host</a></li>
      <li> <a href="#"> Contact us </a></li>
      <li> <a href="#"> About Us</a></li>
      <li> <a href="#"> Terms & Conditions</a></li>
    </ul>
  </div>

  <div class="bookendright">
    <address>
      <strong>DeskJoy, Ltd.</strong><br>
      825 N Jefferson St, Suite 600<br>
      Milwaukee, WI 53202, USA<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <address>
      <strong>Email:</strong><br>
      <a href="mailto:#">Info@DeskJoy.com</a>
    </address>
  </div>
</div>


