        <footer class="footer">

          <div class="top">
            <div class="left">
              <div class="logo"><%= link_to root_path do %>
                <%= image_tag "logo.png", height: 50; %>
                <% end %></div> <!-- end .logo -->
              </div> <!-- end .left -->
              <div class="social-icons">
                <a href="http://facebook.com/"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="http://twitter.com/"><i class="fa-fa-twitter fa-lg"></i></a>
                <a href="http://linkedin.com/"><i class="fa fa-linkedin fa-lg"></i></a>
                <a href="https://www.youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                <a href="http://plus.google.com/"><i class="fa fa-google-plus fa-lg"></i></a>
              </div>
              <div class="right"></div> <!-- end .left -->
            </div> <!-- end .top -->

            <div class="bottom">
              Copyright &copy; 2016. All Rights Reserved By <a href="">DeskJoy Ltd</a></div>
            </footer> <!-- end .footer -->




