        <footer class="footer">

          <div class="top">
            <div class="left">
              <div class="logo"><%= link_to root_path do %>
                <%= image_tag "logo.png", height: 100; %>
                <% end %></div> <!-- end .logo -->
              </div> <!-- end .left -->
              <div class="social-icons">
                <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                <a href=""><i class="fa-fa-twitter fa-2x"></i></a>
                <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                <a href=""><i class="fa fa-youtube fa-2x"></i></a>
                <a href=""><i class="fa fa-google-plus fa-2x"></i></a>
              </div>
              <div class="right"></div> <!-- end .left -->
            </div> <!-- end .top -->

            <div class="bottom">
              DeskJoy Ltd.
              825 N Jefferson St, Suite 600
              Milwaukee, WI 53202, USA
              +44 (0)123456789
              <strong>Email:</strong>
              <a href="mailto:info@deskjob.com">Info@DeskJoy.com</a>
              <br>
              Copyright &copy; 2016. All Rights Reserved By <a href="">DeskJoy Ltd</a></div>
            </footer> <!-- end .footer -->




