.footer-deskjoy {
  position: relative;
  min-width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $desk-gray;
  padding: 10px 20px;
  box-shadow: 0 0 4px $desk-darkblue;

  a:hover {
    color: $desk-darkblue;
  }
}

.flexbox-containter-footer {
  width: 40%;
  display: flex;
  justify: flex-end;
}

.list-footer-links {

  a {
    font-size: 14px;
  }
}

.footer-address {
 margin-left: 50px;
}

.listul {
  padding: 70px 0px 8px 0px;
}
.red {
  color: $desk-red;
}

