
.navbar-container {
  background-color: $desk-gray;
  box-shadow: 0 0 4px $desk-darkblue;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar-logo {
    img {
      width: 60px;
    }
  }
  .navbar-right {
    margin-top: 20px;
    a {
      margin: 0 53px;
      padding-left: 14px;
      padding-right: 14px;
      padding-bottom: 13px;
      border-bottom: solid 2px;
      border-color: transparent;
      transition: border-color 0.6s ease-in-out;
      &:hover {
        border-color: $desk-red;
      }
    }
  }
}
