
.navbar-container {
  background-color: $desk-gray;
  box-shadow: 0 0 4px $desk-darkblue;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // overflow: hidden;
  .navbar-logo {
    img {
      width: 60px;
    }
  }
  .navbar-right {
    margin-right: 60px;
    a {
      font-size: 20px;
      margin: 0 5px;
      padding: 0 15px;
      padding-bottom: 20px;
      border-bottom: solid 3px;
      border-color: transparent;
      transition: border-color 0.8s ease-in-out;
      &:hover {
        border-color: $desk-red;
      }
    }
  }
}
