.banner {
  color: white;
  text-align: center;
  height: 70vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner_cta {
  color: white;
  height:40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center;
}

.banner-neutral {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    margin: 0 30px;
  }
}
